* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

#sketchBoard {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.cell {
  border: 1px solid rgb(239, 239, 239);
}

.gridInput {
  text-align: center;
}

.gridInput input {
  width: 150px;
}

.gridInput button,
.gridInput input {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: gray;
}

.gridInput button {
  font-weight: bold;
}

.gridInput button::hover {
  border: 1px solid white;
}

.inputs {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px;
}

#clearGrid {
  padding: 5px 10px;
  font-weight: 600;
  border: none;
  background-color: rgb(195, 195, 195);
  border-radius: 10px;
}
